<% if @employee %>


<h1><%= @employee.name %></h1>

<ul>
  <li><%= @employee.age %></li>
  <li><%= @employee.tel %></li>
  <li><%= @employee.email %></li>
  <li><%= @employee.intro %></li>
</ul>

<%= link_to 'All Employees', employees_path %>

<% else %>
  <h1>Record not found !</h1>
  <%= link_to 'All Employees', employees_path %>
<% end %>