<h1>Update Student</h1>

<% if @student.errors.any? %>
  <% @student.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for(@student) do |form| %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :age %>
  <%= form.number_field :age %>
</div>

<div>
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<hr>

<%= form.submit %>

<% end %>