<h1>edit book</h1>

<%= form_for(@book) do |f| %>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title%>
  </div>

  <div>
    <%= f.label :author%>
    <%= f.text_field :author %>
  </div>

   <div>
     <%= f.label :info %>
     <%= f.text_area :info %>
   </div>

    <hr>

      <%= f.submit %>

<% end %>